@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --main-title: #52fd9f;
    --background: #161D30;
    --card-background: #292f45;
    --email-color: #de8e46;
    --card-title: #e2e2e2;
    --subtitle: #aaaaaa;
    --hover-color: #202536;
}

html {
    background: var(--background);
    font-family: 'Roboto', sans-serif;
}

img {
    border-radius: 50%;
}

p {
    margin: 0;
    padding: 3px;
}

/* ================= Header ================= */
header {
    color: var(--main-title);
    display: flex;
    justify-content: center;
    max-width: 70%;
    margin: auto;
    font-weight: bold;
    font-size: 50px;
    padding: 20px;
}

/* ================= Barra de pesquisa ================= */
.search-bar-container {
    display: flex;
    justify-content: center;
    max-width: 50%;
    margin: 25px auto 25px auto;
    min-width: 300px;
}

.search {
    display: flex;
    width: 100%;
    height: 35px;
    background-color: var(--card-background);
    padding: 12px;
    border-radius: 50px;

    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25);
}

.search img {
    width: 1.5rem;
    padding-top: 2px;
}

.search input {
    width: 100%;
    height: 100%;
    font-size: 22px;
    background-color: transparent;
    border: none;
    margin-left: 5px;
    border-radius: 50px;
    color: var(--card-title);
}

.search:hover {
    background-color: var(--hover-color);
}

*:focus {
    outline: none;
}

/* ================= Cards ================= */
.user-card {
    padding: 10px;
    display: flex;
    align-items: flex-start;
    background-color: var(--card-background);
    border-radius: 10px;
    max-width: 600px;

    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25);
}

.user-card:hover{
    cursor: pointer;
    background-color: var(--hover-color);
}

.user-img {
    padding-right: 15px;
    margin-top: 6px;
    margin-left: 10px;
}

.card-title {
    font-weight: bold;
    color: var(--card-title);
}

.subtitle {
    color: var(--subtitle);
    font-size: small;
}

.card-email {
    color: var(--email-color);
    font-size: small;
}

/* ================= Pagina principal ================= */
.user-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    max-width: 80%;
    margin: auto;
    gap: 15px;
}

@media (min-width: 1180px) {
    .user-list {
        grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    }
}

/* ================= Esconder Elemento ================= */
.hidden {
    display: none !important;
}

/* ================= Loading ================= */
.loading {
  border: 8px solid var(--card-title);
  border-top: 8px solid var(--background);
  border-radius: 50%;
  animation: loadingAnimation .8s linear infinite;
  width: 40px;
  height: 40px;
  margin: 20px auto;
}

/* ================= Keyframes ================= */
@keyframes loadingAnimation {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}